body{
background-color:#f0f8ff;
font-family: Arial, Helvetica, sans-serif;
}

h1{
text-align:center;
text-transform:uppercase;
font-size:36px;
color:darkblue;
}

h2{
text-align:center;
font-style:italic;
color:#0055aa;
}

img{
width:200px;
height:auto;
}

h3{
font-size:22px;
color:#333;
font-weight:bold;
}

p{
font-size:18px;
color:#333333;
}

a{
text-decoration:none;
color:#ff6600;
font-weight:bold;
}